<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry">
    {% if page.image %}
      {% picture jpt-webp /images/{{ page.image }} --alt {{page.title}} --img style="object-fit: cover; height: 200px; width: 100%;" 16:9 %}
    {% else %}
      {% picture jpt-webp /images/post.jpg --alt WideFix tech post --img style="object-fit: cover; height: 200px; width: 100%;" %}
    {% endif %}
    <div class="entry-wrapper">
      <div class="entry-content">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        <div class="entry-running">
          <div class="display-flex">
            {% picture jpt-webp /images/{{ site.owner.avatar }} --alt {{ site.owner.name }} --img class="author-photo" %}
            <div class="author-data">
              <span class="author vcard">
                <span class="fn">
                  <a href="/about-author/" title="About {{ site.owner.name }}">  {{ site.owner.name }}
                  </a>
                </span>
              </span>
              <div class="entry-date date published">
                <time datetime="{{ page.date | date_to_xmlschema }}">
                  {{ page.date | date: "%d %b %Y" }}
                </time>
              </div>
              <div class="author-socials">
                <span class="social-author">
                  <a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
                    <i class="fab fa-github-square"></i>
                  </a>
                </span>
                <span class="social-author">
                  <a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="fab fa-linkedin"></i>
                  </a>
                </span>
                <span class="social-author">
                  <a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        {% assign ref='#headline' %}
        {% if page.toc %}
          {{ content | toc }}
        {% else %}
          {{ content }}
        {% endif %}
        {% assign ref='#bottomline' %}
        <span class="entry-tags">
          {% for tag in page.tags %}
            <a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>
            {% unless forloop.last %}{% endunless %}
          {% endfor %}
        </span>

        <section style="background-color: rgba(240,67,56,.08); padding: 10px; border-radius: 10px; margin-top: 20px; text-align: center; font-family: Arial, Helvetica, sans-serif;">
          <h4>Discover Exclusive Ruby/Rails Development Opportunities! Submit Your Details to Receive Timely Job Notifications.</h4>
          <div style="display: flex;align-items:center;justify-content: center;margin-top: 20px;">
            <a class="schedule-button" style="background-color: #266cb4;" target="_blank" rel="nofollow" href="https://forms.gle/d7evJfwUvWiSQHAS8">Subscribe</a>
          </div>
        </section>

        <section style="background-color: #b3d4fc; padding: 15px; border-radius: 10px; margin-top: 20px; font-family: Arial, Helvetica, sans-serif;">
          <h3 style="text-align: center" id="widefix-and-ruby-on-rails-expertise">WideFix and Ruby On Rails expertise</h3>
          <p>At <a href="https://widefix.com" ref="nofollow" target="_blank">WideFix</a>, we take pride in our expertise and experience. You can trust that our solutions will not harm your business and will always keep your site running smoothly. You can rely on us to provide confident and effective solutions that meet your needs.</p>
          <div style="display: flex;align-items:center;justify-content: center;margin-top: 20px;">
            <a class="schedule-button" target="_blank" rel="nofollow" href="https://calendly.com/andrei-kaleshka/30min">Schedule a call</a>
          </div>
        </section>

        <section>
          <h3 style="margin-bottom: 10px">Read also</h3>
          <nav>
            <ul class="post-list">
              {% if page.previous %}
                <li class="main-list">
                  <article>
                    <a href="{{ page.previous.url }}">
                      {% if page.previous.image %}
                        {% picture jpt-webp /images/{{ page.previous.image }} --alt {{page.previous.title}} --img style="object-fit: cover; height: 200px; width: 100%;" 16:9 %}
                      {% else %}
                        {% picture jpt-webp /images/post.jpg --alt WideFix tech post --img style="object-fit: cover; height: 200px; width: 100%;" %}
                      {% endif %}
                      <div class="preview">
                        <h2>{{ page.previous.title }}</h2>
                        <p>{{ page.previous.description }}</p>
                      </div>
                    </a>
                    <div class="display-flex">
                      <div class="entry-tags">
                        {% for tag in page.previous.tags %}
                          <div><a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></div>
                          {% unless forloop.last %}{% endunless %}
                        {% endfor %}
                      </div>
                      <div class="entry-date">
                        <a href="{{ page.previous.url }}">
                          <time datetime="{{ page.previous.date | date_to_xmlschema }}">
                            {{ page.previous.date | date: "%d %b %Y" }}
                          </time>
                        </a>
                      </div>
                    </div>
                  </article>
                </li>
              {% endif %}
              {% if page.next %}
                <li class="main-list">
                  <article>
                    <a href="{{ page.next.url }}">
                      {% if page.next.image %}
                        {% picture jpt-webp /images/{{ page.next.image }} --alt {{page.next.title}} --img style="object-fit: cover; height: 200px; width: 100%;" 16:9 %}
                      {% else %}
                        {% picture jpt-webp /images/post.jpg --alt WideFix tech post --img style="object-fit: cover; height: 200px; width: 100%;" %}
                      {% endif %}
                      <div class="preview">
                        <h2>{{ page.next.title }}</h2>
                        <p>{{ page.next.description }}</p>
                      </div>
                    </a>
                    <div class="display-flex">
                      <div class="entry-tags">
                        {% for tag in page.next.tags %}
                          <div><a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></div>
                          {% unless forloop.last %}{% endunless %}
                        {% endfor %}
                      </div>
                      <div class="entry-date">
                        <a href="{{ page.next.url }}">
                          <time datetime="{{ page.next.date | date_to_xmlschema }}">
                            {{ page.next.date | date: "%d %b %Y" }}
                          </time>
                        </a>
                      </div>
                    </div>
                  </article>
                </li>
              {% endif %}
            </ul>
          </nav>
        </section>
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
